# Database
DB_URL=jdbc:postgresql://localhost:5432/hotel_booking_db
DB_USERNAME=root
DB_PASSWORD=root

# JWT
JWT_SECRET_KEY=your-jwt-secret-key-here

# Stripe
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret
